## 数据分析
### 数据表生成

In [4]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
print(os.getcwd())
path = r'Z:\02_Study\学习文件\01_人工智能学习\01_数据存储与处理\pydata-book-3rd-edition\pydata-book-3rd-edition\examples'
path = Path(path)
os.chdir(path)
print(os.getcwd())

Z:\02_Study\学习文件\01_人工智能学习\01_数据存储与处理\pydata-book-3rd-edition\pydata-book-3rd-edition\examples
Z:\02_Study\学习文件\01_人工智能学习\01_数据存储与处理\pydata-book-3rd-edition\pydata-book-3rd-edition\examples

In [31]:
# 当前路径下所有的文件
for i,f in enumerate(path.glob('*')):
    print(i,f.name)
# 当前路径以及子路径下面所有的文件
for i,f in enumerate(path.rglob('*')):
    print(i,f.name)

0 array_ex.txt
1 csv_mindex.csv
2 ex1.csv
3 ex1.xlsx
4 ex2.csv
5 ex3.txt
6 ex4.csv
7 ex5.csv
8 ex6.csv
9 ex7.csv
10 example.json
11 fdic_failed_bank_list.html
12 ipython_bug.py
13 macrodata.csv
14 segismundo.txt
15 spx.csv
16 stinkbug.png
17 stock_px.csv
18 test
19 test_file.csv
20 tips.csv
21 tmp
22 tseries.csv
23 volume.csv
24 yahoo_price.pkl
25 yahoo_volume.pkl
26 ~$ex1.xlsx
0 array_ex.txt
1 csv_mindex.csv
2 ex1.csv
3 ex1.xlsx
4 ex2.csv
5 ex3.txt
6 ex4.csv
7 ex5.csv
8 ex6.csv
9 ex7.csv
10 example.json
11 fdic_failed_bank_list.html
12 ipython_bug.py
13 macrodata.csv
14 segismundo.txt
15 spx.csv
16 stinkbug.png
17 stock_px.csv
18 test
19 test_file.csv
20 tips.csv
21 tmp
22 tseries.csv
23 volume.csv
24 yahoo_price.pkl
25 yahoo_volume.pkl
26 ~$ex1.xlsx
27 test.txt
28 new_name.txt

##### 当前目录及其所有子目录中的文件总数

In [29]:
file_cnt = sum(1 for p in Path('.').rglob('*')
               if p.is_file() and not p.is_symlink()
               )
print(f'当前文件路径下所有文件的数量：{file_cnt}')
# 当前文件名
p = Path('.').resolve().name
# 当前文件的父目录
p = Path('.').resolve().parent
p

当前文件路径下所有文件的数量：27

WindowsPath('Z:/02_Study/学习文件/01_人工智能学习/01_数据存储与处理/pydata-book-3rd-edition/pydata-book-3rd-edition')

##### 修改文件名称

In [24]:
p = Path(r'.\tmp\old_name.txt')
p.parent.mkdir(parents=True,exist_ok=True)
p.touch()
new_path = Path(r'.\tmp\new_name.txt')
p.rename(new_path)

WindowsPath('tmp/new_name.txt')

##### 导入数据及索引

In [ ]:
# 导入数据
data = pd.read_excel('ex1.xlsx',sheet_name=0,header=0)
data.iloc[:,:-1]

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [83]:
df = pd.read_excel('ex1.xlsx', sheet_name=0)

# 假设你用前三列做索引
# df = df.set_index(['Unnamed: 0', 'a', 'b'])  # 用实际存在的列
# df.index.names = ['x', 'y', 'z']             # 重命名索引
df['new_columns'] = ['x', 'y', 'z']
df.set_index('new_columns',inplace= True)
df.drop(columns='Unnamed: 0',inplace=True)
df

             a   b   c   d message
new_columns
x            1   2   3   4   hello
y            5   6   7   8   world
z            9  10  11  12     foo

In [84]:
df

             a   b   c   d message
new_columns
x            1   2   3   4   hello
y            5   6   7   8   world
z            9  10  11  12     foo

In [87]:
df.loc['x':'z','a']

new_columns
x    1
y    5
z    9
Name: a, dtype: int64

In [89]:
df.iloc[0:len(df),1]

new_columns
x     2
y     6
z    10
Name: b, dtype: int64

##### 数据表创建

In [92]:
df = pd.DataFrame(
{'id':[1001,1002,1003,1004,1005,1006],
 'date':pd.date_range('2025-8-26',periods=6,freq='D'),
 'city':['beijing','shagnhai','SH','guangzhou','shenzhen','BEIJING'],
 'age':[22,44,54,32,34,32],
 'category':['100-A','100-B','110-A','110-C','210-A','130-F'],
 'price':[1200,np.nan,2133,5433,np.nan,4432]
 
 },
 columns = ['id','date','city','category','age','price']
)
df

     id       date       city category  age   price
0  1001 2025-08-26    beijing    100-A   22  1200.0
1  1002 2025-08-27   shagnhai    100-B   44     NaN
2  1003 2025-08-28         SH    110-A   54  2133.0
3  1004 2025-08-29  guangzhou    110-C   32  5433.0
4  1005 2025-08-30   shenzhen    210-A   34     NaN
5  1006 2025-08-31    BEIJING    130-F   32  4432.0

In [96]:
# 数据表信息查看
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        6 non-null      int64
 1   date      6 non-null      datetime64[ns]
 2   city      6 non-null      object
 3   category  6 non-null      object
 4   age       6 non-null      int64
 5   price     4 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 420.0+ bytes